<ion-view view-title="Domains">
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-ios-plus-empty" ng-click="domains.add()"></button>
  </ion-nav-buttons>

  <ion-content>
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="domains.doRefresh()">
    </ion-refresher>

    <div class="card" ng-if="domains.error">
      <div class="item item-text-wrap" ng-if="'bad_token' === domains.error.message">
        Bad token
      </div>
      <div class="item item-text-wrap" ng-if="'bad_token' !== domains.error.message">
        {{ domains.error.message }}
      </div>
      <button class="button button-block" ui-sref="signup" ng-if="'bad_token' === domains.error.message">Change token</button>
      <button class="button button-block" ui-sref="signup" ng-if="'no_auth' === domains.error.message">Change token</button>
    </div>

    <!-- content goes here -->
    <ion-list>
      <ion-item
        ng-repeat="domain in domains.domains"
        class="item-avatar item-icon-right"
        type="item-text-wrap"
        ui-sref="main.domain({domain: domain.name})">
        <img ng-src="{{ domain.logo_url }}" ng-if="domain.logo_url">
        <h2>{{ domain.name }}</h2>
        <sup ng-if="'added' != domain.status">{{ domains.statusTitles[domain.status] || domain.status }}</sup>
        <p>
          <span class="comma" ng-repeat="alias in domain.aliases">{{ alias | idn }}</span>
        </p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
