<ion-view view-title="{{ domain.name }}">
  <ion-nav-bar class="bar-royal">
    <ion-nav-back-button>Назад</ion-nav-back-button>
  </ion-nav-bar>

  <ion-content>
    <ion-list
      show-delete="domain.shouldShowDelete">
      <div>
        <ion-item class="item-icon-right"
                  ui-sref="main.mailboxList({domain: domain.name})">
          <i class="icon ion-ios-email-outline"></i>
          Почтовые ящики
        </ion-item>
        <ion-item class="item-icon-right"
                  ui-sref="main.maillistList({domain: domain.name})">
        <i class="icon ion-ios-list-outline"></i>
        Рассылки
      </ion-item>
        <ion-item ng-repeat="list in domain.mailLists" type="item-text-wrap" ng-click="domain.showSubscribers(list)">
          <h2>{{ list.maillist }}</h2>
          <ion-delete-button class="ion-minus-circled"
                             ng-click="domain.deleteMailList(list.maillist)">
          </ion-delete-button>
          <ion-option-button class="button-assertive"
                             ng-click="domain.deleteMailList(list.maillist)">
            Удалить
          </ion-option-button>
        </ion-item>
      </div>
      <div ng-if="domain.owner">
        <ion-item class="item-icon-right"
                  ui-sref="main.deputies({domain:domain.name})">
          <i class="icon ion-ios-people"></i>
          Администраторы
        </ion-item>
      </div>
      <div>
      <ion-item class="item-icon-right"
                ui-sref="main.dnsList({domain: domain.name})">
        <i class="icon ion-earth"></i>
        DNS Записи
      </ion-item>
      </div>
    </ion-list>

  </ion-content>
</ion-view>
