<ion-view view-title="{{ domain.name }}">
  <ion-content>
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="domain.doRefresh()">
    </ion-refresher>
    <ion-list>
      <ion-item
        ng-repeat="account in domain.accounts"
        class="item-avatar item-icon-right"
        type="item-text-wrap"
        ng-click="domain.showAliases(account)">
        <h2>{{ account.login }}</h2>
        <p>
          {{ account.fio }}
        </p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
