<ion-view view-title="List" hide-nav-bar="true">
  <ion-content scroll="false">
    <form ng-submit="signup.submit()" method="post">
      <div class="list flex full-screen flex-column">
        <label class="item item-input flex-full flex flex-column">
          <textarea class="flex-full text-big-text text-code" name="name" ng-model="signup.apiKey" placeholder="API_KEY" rows="8" cols="40" autofocus></textarea>
        </label>
        <button type="submit" class="button button-balanced" name="button">PASKAKALI!!</button>
      </div>
    </form>
</ion-content>
</ion-view>
